#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.horizontal-list {
  list-style-type: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Makes the list items display in a row */
  justify-content: center; /* Centers the list items horizontally */
}

.horizontal-list li {
  margin-right: 15px; /* Adds space between the items */
  color: white; /* Sets the text color to white */
}

.horizontal-list li:last-child {
  margin-right: 0; /* Removes the margin after the last item */
}

.horizontal-list a {
  text-decoration: none; /* Removes underline from links */
  color: white; /* Sets the link color to white */
}

.horizontal-list a:hover {
  text-decoration: underline; /* Underlines the link on hover */
  color: white; /* Sets the link color to white */
}

.container {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr; /* Adjust row heights as needed */
  gap: 10px; /* Adjust spacing as needed */
}